[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3"

[packages]
python-dotenv = "*"
prefect-aws = "*"
prefect-github = "*"
prefect-shell = "*"
prefect = "*"

[dev-packages]
