[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlmodel = "*"
openpyxl = "*"
cryptography = "*"
python-dotenv = "*"
pandas = "*"
pyodbc = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3"
